* {font-family: Arial, sans-serif;
}

#mainTitle {
    color: rgb(0, 139, 56);
    text-align: center;
    font-size: 32px;
}

p {
    color: black;
    font-size: 16px;
}

table {
    background-color: #c1b480;
}

