body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.box {
    width: 300px;
    height: 150px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid black;
    color: white;
}

.vision {
    background-color: #1e8a58;
}

.campus {
    background-color: #d0830f;
    padding: 30px;
}

.students {
    background-color: #b91c1c;
    border: 8px dashed black;
}

.normal-box {
    width: 300px;
    padding: 30px;
    border: 10px solid rgb(222, 30, 225);
    margin: 20px auto;
    background-color: lightgray;
}

.border-box {
    width: 300px;
    padding: 30px;
    border: 10px solid rgb(214, 119, 24);
    margin: 20px auto;
    background-color: lightyellow;
    box-sizing: border-box;
}

.block {
    display: block;
    background-color: lightblue;
    margin: 10px;
}

.inline {
    display: inline;
    background-color: rgb(91, 184, 227);
}

.inline-block {
    display: inline-block;
    width: 200px;
    background-color: rgb(123, 217, 16);
    margin: 10px;
}

.none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
    background-color: red;
    margin: 10px;
}

.display-none {
    display: none;
}

